# Variables de entorno
.env

# Entornos virtuales
.venv/
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
logs/
*.log

# Test cache
.pytest_cache/

# IDEs / editores
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db

# Añadir lo que sea