# Servidor y Web
flask
gunicorn

# API REST del Proyecto 3
fastapi
uvicorn[standard]

# Variables de entorno
python-dotenv

# Comunicacion con APIs externas
requests
httpx

# Tareas automaticas Scheduler
flask-apscheduler

# Analisis y ETL de datos
pandas
openpyxl

# Base de datos y ORM
sqlalchemy

# Validacion de datos
pydantic

# Tests y calidad
pytest
pytest-cov
